body{
    background-color: darkslategrey;
}
h1{
    padding-top: 20px;
    text-align: center;
    color: white;
}
p#description{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-bottom: solid white;
    padding-bottom: 20px;
}
/* input type text */
input[type=text]{
    width: 300px;
    height: 26px;
    border: 1px;
    border-radius: 3px;
}
/* first name */
label[for=first-name]{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 20px;
}
/* last name */
label[for=last-name]{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 61px;
    padding-top: 20px;
}
/* gender */
label#gender{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 90px;
    padding-top: 20px;
}
/* gender option */
label[for=male],[for=female],[for=others]{
    color: white;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 20px;
}
/* address */
label[for=address]{
    vertical-align:top;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 82px;
    padding-top: 20px;
}
/* address textarea */
textarea{
    width: 300px;
    height: 90px;
    border: 1px;
    border-radius: 3px;
    margin-top: 20px;
}
/* state */
label[for=state]{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 108px;
    padding-top: 20px;
}
/* country */
label[for=country]{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 82px;
    padding-top: 20px;
}
/* pincode */
label[for=pincode]{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 82px;
    padding-top: 20px;
}
/* button submit */
input[type=submit]{
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
}